include INSTALL
include README
include TODO
include COPYRIGHT
include CHANGELOG
include LICENSE
include *.xml
include view/*.xml
include locale/*.po
include doc/*
include tests/*
include JasperReports/*
include java/*
